<% if user_signed_in? %>

    <% if current_user.profile %>



        <input id="profile-id" name="profile-id" type="hidden" value="<%= current_user.profile.id %>">

        <main id="app"></main>

        <script>
        var event = new Event('loggedIn');
        document.dispatchEvent(event);
        </script>
        
    <% end %>

<% end %>